<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home">Home</ion-button>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form>
      <ion-input type="number" name="id" placeholder="Id" />
      <ion-input type="text" name="title" placeholder="Titulo" />
      <ion-input type="text" name="author" placeholder="Autor" />
      <ion-input type="number" name="price" placeholder="Precio" />
      <ion-input type="text" name="photoUrl" placeholder="Url foto" />
      <ion-button>Añadir</ion-button>
      <ion-button color="secondary">Modificar</ion-button>
      <ion-button color="danger">Borrar</ion-button>
    </form>
  </div>
</ion-content>
